-help

The first line of this file is the configuration for Poison Ivy, the rest of this 
file explains the parameters

Poison Ivy - Java Library Dependency Resolver
Resolves application dependencies on the client

Licence: GPL 2.0
Copyright Burton Alexander 2014

-help - Prints help message
-ivy [ARG] - The ivy file for library dependency resolution (default: ./ivy.xml)
-ivysettings [ARG] - The ivy settings file for library dependency resolution (default: built in settings)
-libdir [ARG] - The directory to store the retrieved librarires (default: ./ivylib)
-rp [ARG] - The ivy resolve pattern (default: [artifact]-[revision](-[classifier]).[ext])
-force - Force clean library retrieval (default: false)
-nc - Do not remove source and api documentation after library dependency retrieval (default: clean)
-javaopts [ARG] - Java options to pass to the application jar (enclose in single quotes for multiple parameters)
-mainjar [ARG] - The application jar to execute

-mainjar MyApplication.jar

-mainjar MyApplication.jar -javaopts '-Xmx1000m -Xms500m'

-ivy /path/to/ivy.xml -ivysettings /path/to/ivysettings.xml -libdir /path/to/ivylib -force -nc
