-h

The first line of this file is the configuration for Poison Ivy, the rest of this 
file explains the parameters

Poison Ivy - Java Library Dependency Resolver
Resolves application dependencies on the client

Licence: GPL 2.0
Copyright Burton Alexander 2014

-h - Prints help message
-ivy [ARG] - The ivy file for library dependency resolution (default: ./ivy.xml)
-ivysettings [ARG] - The ivy settings file for library dependency resolution (default: built in settings)
-libdir [ARG] - The directory to store the retrieved librarires (default: ./ivylib)
-rp [ARG] - The ivy resolve pattern (default: [artifact]-[revision](-[classifier]).[ext])
-f - Force clean library retrieval (default: false)
-nc - Do not remove source and api documentation after library dependency retrieval (default: clean)
-jopts [ARG] - Java options to pass to the application jar (enclose in single quotes for multiple parameters)
-mc [ARG] - The main class to execute
-mj [ARG] - The application jar to execute

Examples

-mj MyApplication.jar

-mj MyApplication.jar -X mx1000m -X ms500m

-mc com.my.MainClass -X mx1000m -X ms500m -D my.settings.file=/some/path/and/file

-ivy /path/to/ivy.xml -ivysettings /path/to/ivysettings.xml -libdir /path/to/ivylib -f -nc
